body{
	background:#ED4961;
}
.container{
	width:100%;
	max-width:1200px;
	border:2px solid black;
	margin:0 auto;
	
}
header{
	border:2px solid black;
	padding:20px;
	margin:20px 20px;
}
.brand {
    text-align: center;
	   
}
.brand h1 {
    padding: 0px;
    margin: 0px;
}

.barcode {
    text-align: right;
}
.barcode img {
    width: 100px;
}
.total {
	margin-top: 50px;
    float: left;
}
.side{
	width:30%;
	border:2px solid black;
	margin-left:20px;
	float:left;
	
}
.side ul {
	list-style:none;
	padding:0px;
	margin: 0px;
	height:500px;
	overflow-y: scroll;
	
}
.side ul li {
    padding: 26px;
	position:relative;
}
.icon {
    float: left;
    border: 2px solid;
    border-radius: 50px;
    width: 50px;
    height: 50px;
	position: relative;
}
.icon .fa {
    font-size: 33px;
    position: absolute;
    top: 7px;
    left: 9px;
}
.product {
    margin-left: 80px;
}
.product h2 {
    margin: 0px;
	margin-bottom:8px;
}
.main{
	width:64%;
	border:2px solid black;
	float:left;
	margin-left:20px;
	
	position:relative;
	
}
.clearfix{
	clear:both;
}
.textbox{
	margin-top:10px;
	text-align:center;
}
input.search {
    width: 300px;
    height: 45px;
    border: 2px solid;
	border-radius: 15px;
	 outline: none;	
	 padding-left: 10px;
	 font-size:18px;
}
input.one {
    width: 70px;
    height: 70px;
	margin: 10px;
	border-radius: 50px;
    border: 2px solid black;
	cursor:pointer;
	background-color:#ED4949;
	    font-size: 30px;
	    outline: none;	
}
.qty {
    width: 40px;
    height: 21px;
    text-align: center;
}
input.one[type="button"]:hover{
	border:none;
	background-color:#4CAF50;
	color:white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input[type="submit"] {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid;
	cursor:pointer;
	background-color:#ED4949;
	 outline: none;	
}
input[type="submit"]:hover{
	border:none;
	background-color:#4CAF50;
	color:white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btns{
	overflow-y: scroll;
	height:400px;
}
.butn1{
	border:2px solid black;
	width:25%;
	float:left;
	margin:20px;
	display:flex;
}
.description {
    margin-left: 8px;
}

::-webkit-scrollbar {
    width: 12px;
	
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
	
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	
}
.footer{
	border:2px solid black;
	margin:20px;
	text-align:center;
}
.a_clearfix::after{
	display:block;
	clear:both;
	content:'';
}
.a_controls{
	
}
.a_minus {
    border-style: none;
    display: block;
    width: 20px;
    min-height: 20px;
    background-color: red;
    font-size: 16px;
    color: #fff;
    float: left;
}
.a_qty {
    width: 40px;
    min-height: 20px;
    text-align: center;
    float: left;
    border-style: none;
}
.a_plus {
    border-style: none;
    display: block;
    width: 20px;
    min-height: 20px;
    background-color: #4caf50;
    font-size: 16px;
    color: #fff;
    float: left;
}


/*
@media screen and (max-width: 760px) {
	.side ul li span {
    padding-left: 55px;
}
}

